@{
    ViewBag.Title = "Buy";
}

<br />

<p style="color:white">You bought your desired product! Take a look on other <a class="success" href="/PCShop/Index">Products</a></p>
<ul class="nav nav-pills">
    <li role="presentation" class="btn-default"> <a href="/PCShop/Logout">Logout</a></li>
</ul>