
@{
    ViewBag.Title = "NoBuy";
}

<h2 style="color:white">Access Denied</h2>
<p style="color:white">I'm sorry, you can't buy if you are not a registered user! </p>


<br />

<div>
    <ul class="nav nav-pills">
        <li role="presentation" class="btn-default"><a href="/PCShop/Login"> Login</a></li>
        <li></li>
        <li role="presentation" class="btn-default"><a href="/PCShop/Register"> Register </a></li>
    </ul>
</div>
