
@{
    ViewBag.Title = "View";
}

<h2><b><em>"Welcome to the PCShop"</em></b></h2>


<dir class="active">
    <button type="button" class="btn btn-primary" onclick="location.href='/Product/AllProductsCustomer'">Products</button>
</dir>