@{
    ViewBag.Title = "NoAccess";
}

<h2>Access Denied</h2>

<p>You must have administrator privileges in order to access this page. If you have username and password please <a href="/Home/Login/">Login</a></p>